@import url('http://fonts.googleapis.com/css?family=Bree+Serif|Merriweather');
@import url('http://netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css');

.pass {
	background-color: #DFF0D8;
}

.fail {
	background-color: #F2DEDE;
}

.ta {
	background-color: #FFFF9F;
}

.orange {
	background-color: #FFC56C;
}

// body {
// 	background: -webkit-linear-gradient(left,rgba(225,233,241,0),rgba(241,233,225,1)); /*Safari 5.1-6*/
// 	background: -o-linear-gradient(right,rgba(225,233,241,0),rgba(241,233,225,1)); /*Opera 11.1-12*/
// 	background: -moz-linear-gradient(right,rgba(225,233,241,0),rgba(241,233,225,1)); /*Fx 3.6-15*/
// 	background: linear-gradient(to right, rgba(225,233,241,0), rgba(241,233,225,1)); /*Standard*/
// }
table {
	table-layout: fixed;
}
td, th{
	white-space: nowrap;
	word-wrap: break-word;
	width: 250px !important;
	height: 6em !important;
}

td, tr, th {
	padding:0;
}
p {
	line-height: 0 !important;
	margin-top: 1em !important;
	margin-bottom: 1em !important;
}

.terminal {
	background-color: black;
	color: white;
	font-family: monospace;
}

.col1
{
    overflow: hidden;
    height: 800px;
}

.xscroll
{
    overflow: auto;
    width: 800px;
}
.xscroll td > div {
		width: 200px !important;
}
.xscroll > div{
    overflow: auto;
    width: 800px;
}
