@import url('http://fonts.googleapis.com/css?family=Bree+Serif|Merriweather');
@import url('http://netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css');

.pass {
	background-color: #DFF0D8;
}

.fail {
	background-color: #F2DEDE;
}

.ta {
	background-color: #FFFF9F;
}

.orange {
	background-color: #FFC56C;
}

body {
	margin: 0;
	padding: 0;
	overflow: hidden;
}

table {
	table-layout: fixed;
	border-collapse: collapse;
	border-spacing: 0;
}
td, th{
	white-space: nowrap;
	word-wrap: break-word;
	width: 250px !important;
	height: 6em !important;
}

td, tr, th {
	padding:0;
}
.col1
{
	overflow: hidden;
	height: 800px;
}
.xscroll
{
	overflow: auto;
	width: 800px;
}
.xscroll td > div {
	width: 250px !important;
}
.xscroll > div{
	overflow: auto;
	width: 800px;
}

p {
	line-height: 1.2;
	margin: 0;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

td{
	padding-left: 1em !important;
}

.terminal {
	background-color: black;
	color: white;
	font-family: monospace;
}
